@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: Arial;
    box-sizing: border-box;
    transition-duration: .3s;
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(to right, #677CE6, #7550A9);
}
a{
    text-decoration: none;
    color: inherit;
}
.topContainer{
    color: #000;
    padding: 20px 50px 20px 50px;
    /* position: relative; */
}
.chatContainer{
    width: 550px;
    height: 80%;
    background-color: #fff;
    /* border: 4px solid #ddd; */
    position: relative;
    /* padding-top: 70px; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
@media(max-width:900px){
    .chatContainer{
        width: 100%;
        margin: auto;
        height: 85%;
    }
    .chatArea{

    }
}

.chatTopNav{
    background-color: #b3bdee;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}
.nameBanner{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(71, 127, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    z-index: 110 !important;
}
.nickName{
    padding-left: 20px;
}
.chatArea{
    overflow-y: scroll;
    padding:20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* background-color: rebeccapurple; */
    width: 100%;
    flex: 1;
}
.chatArea img{
    z-index: -1;
}
.chatArea::-webkit-scrollbar {
    display: none;
}
.chatTextBox{
    width: 100%;
    background-color: #b3bdee;
    display: flex;
    height: 40px;
    z-index: 150;
}
.chatTextBox textarea{
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    font-size: 16px;
    overflow: hidden;
    padding: 2px 10px 2px 10px;
}
.chatTextBox button{
    padding:8px;
    cursor: pointer;
}
.messageReceive{
    display: flex;
}
.messageReceive .nameBanner{
    background-color: #7550A9;
    z-index: 90;
}
.messageReceive .message{
    z-index: 1;
    background-color: teal;
    color: #fff;
    padding:6px 8px;
    font-size: 15px;
    margin-left: 10px;
    position: relative;
    max-width: 400px;
    border-radius: 3px;
}
.messageReceive .message::before{
    content: "";
    position: absolute;
    left: -5px;
    top: 50%;
    background-color: inherit;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}
.messageSend, .messageReceive{
    margin-bottom: 20px;
    align-items: center;
}
.message img{
    /* width: 200px !important; */
    /* height: 100px !important; */
    overflow: hidden;
}
.message *{
    width: 100% !important;
    overflow: hidden !important;

}
.messageSend{
    display: flex;
    flex-direction: row-reverse;
}
.messageSend .nameBanner{
    background-color: #00ccff;
    z-index: 90;
}
.messageSend .message{
    z-index: 1;
    background-color: #02bceb;
    color: #fff;
    padding:6px 8px;
    font-size: 15px;
    margin-right: 10px;
    position: relative;
    max-width: 400px;
    border-radius: 3px;
}
.messageSend .message *{
    z-index: 1;
    /* overflow: hidden; */
}
.messageSend .message::before{
    content: "";
    position: absolute;
    right: -5px;
    top: 50%;
    background-color: inherit;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}
#chatEmojiDiv{
    background-color: #fff;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.55);
    max-width: 250px;
    position: absolute;
    left: 10px;
    bottom: 50px;
    padding: 10px;
    z-index: 99999999;
}
#chatEmojiDiv span{
    cursor: pointer;
    font-size: 20px;
}